*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body{
    background-image: linear-gradient(120deg, rgb(5, 5, 46) , rgb(70, 69, 69));
    height: 100vh;
    width: 100%;
}
.container{
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgb(0 0 0 / 20%);
    position: relative;
    top: 10vh;
    border: 2px solid rgb(124, 120, 120);
    height: auto;
}
.container h1{
    text-transform: uppercase;
    color: rgb(24, 17, 17);
    margin: 0 0 20px 0;
    font-size: 40px;
    font-weight: bold;
}
.container #incont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container #incont input{
    width: 100%;
    height: 45px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #eee;
    padding-left: 20px;
}   
.container #incont button{
    width: 100%;
    height: 45px;
    font-size: 1rem;
    background-color: rgb(24, 17, 17);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold; 
}
.container ul{
    list-style: none;
}
.container ul li {
    cursor: pointer;
    margin: 10px auto 20px 30px ;
    font-size: 1.2rem;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.container ul li.checked{
    color: #4b4a4a;
    text-decoration: line-through;
}
.container ul .remove::before{
    content: "x";
    text-align: center;
    background-color: #eee ;
    color: rgb(13, 13, 37);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


@media (max-width:600px){
    .container button{
        transform: translateX(-10px);
    }
    #incont {
        flex-direction: row;
        gap: 0;
    }
    
    #incont input {
        width: 70%;
    }
    
    #incont button {
        width: 30%;
        margin-left: 10px;
    }
    .container h1{
        font-size: 30px;
        font-weight:700;
    }
}